---
---

<div class="prose md:prose-lg prose-h2:pt-8 max-w-none! prose-h2:m-0 prose-h2:pb-4 prose-headings:font-bold dark:prose-headings:text-white">
  <article class="post font-normal text-black dark:text-white pt-4">
    <slot />
  </article>
</div>
