---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
  wide?: boolean;
}

const { class: className, wide } = Astro.props;
---

<div class={cn("mx-auto", wide ? "max-w-7xl" : "max-w-3xl px-12", className)}>
  <slot />
</div>
