---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/layout/Container.astro";
import HeroTitle from "@/components/layout/HeroTitle.astro";
---

<BaseLayout
  title="Titus Gahissy - Solutions Architect & Entrepreneur"
  description="Hello, I'm Titus Gahissy. I explore not so boring ideas and challenge teams and founders to create valuable products."
>
  <Container class="pt-12 md:pt-8 xl:pt-24 space-y-3 md:space-y-4 xl:space-y-6">
    <HeroTitle>The Product<br />Is The Model</HeroTitle>
    <div class="text-xl md:text-4xl xl:text-5xl/13 font-normal">
      Hello, I'm <span class="font-medium">Titus Gahissy</span>
    </div>
    <div class="text-lg md:text-2xl xl:text-3xl font-normal space-y-3">
      <p>
        I explore not so boring ideas and challenge<br />
        teams and founders to create valuable products.
      </p>
      <p class="text-neutral-500">
        This is my little corner of the internet where I share<br />
        thoughts, travel moments, books and projects.
      </p>
    </div>
  </Container>
</BaseLayout>
